.main-div {
	width: 80%;
	margin: 5rem auto;
	border-radius: 15px;
}

.heading-article {
	display: block;
	border-radius: 25px;
	margin: 2rem 10px;
	height: 100%;
	padding: 2rem 2rem;
	backdrop-filter: blur(4px);
	background-color: rgba(255, 255, 255, 0.15);
	text-align: justify;
}

.article {
	display: block;
	border-radius: 35px;
	margin: 2rem 10px;
	height: 100%;
	padding: 3rem;
	backdrop-filter: blur(4px);
	background-color: rgba(255, 255, 255, 0.15);
	transition: border-radius 0.3s ease;
}

.header-title * {
	font-size: clamp(10px, 2.5vw, 32px);
	text-wrap: balance;
}

.header-title h3,
.header-title b {
	text-align: center;
}

.content {
	padding-top: 1rem;
}

.content p {
	text-align: justify;
	font-size: clamp(10px, 4vw, 25px);
	margin-right: 4rem;
}

.arrow.shown {
	transform: rotate(180deg);
}

.article-buttons {
	display: flex;
	margin-bottom: 1rem;
}

.back-button-div {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	mix-blend-mode: screen;
	z-index: 10;
}

.back-button {
	display: flex;
	padding: 1rem;
	border-radius: 20px;
	backdrop-filter: blur(4px);
	background-color: color-mix(in srgb, var(--main-blue), transparent 35%);
	position: fixed;
	left: 1em;
	bottom: 2rem;
}

.back-button svg {
	fill: white;
}

.back-button:hover {
	background-color: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(4px);
	transform: scale(1.05);
}

.date-div {
	position: absolute;
	height: 50px;
	padding: 0 3em;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	top: 5%;
	right: 0px;
	margin: auto 0;
	background-color: var(--dark-blue);
	display: flex;
	justify-content: center;
	align-items: center;
}

.date {
	font-size: calc(1rem + .6vw);
	font-weight: 700;
	margin: 0;
}

.enroll {
	margin: 0 5rem 0 auto;
	background-color: rgba(0, 0, 85, 0.49);
	font-size: clamp(14px, 2vw, 20px);
	width: 150px;
	padding: 0.5rem;
	border-radius: 30px;
	color: var(--dark-blue);
}


@media (max-width: 800px) {
	.main-div {
		width: 90%;
		padding: 0;
		margin: 3rem auto;
	}

	.content p {
		margin-right: 1rem;
	}

	.date {
		font-size: calc(0.75rem + .4vw);
	}

	.date-div {
		height: 40px;
		top: 0px;
		border-radius: 0 15px 0 15px;
	}

	.article-buttons button {
		border-radius: 30px;
	}

	.prev-article svg,
	.next-article svg {
		display: none;
	}
}

@media (max-width: 600px) {
	.body {
		margin-top: 0;
		margin-bottom: 8px;
	}

	.article-buttons {
		margin: 1.5rem 0;
	}

	.enroll {
		margin: 0 auto;
	}

	.article {
		border-radius: 15px;
		padding: 1.5rem;
	}

	.article p {
		margin-right: 0;
	}

	p {
		margin-bottom: 2px;
	}

	.date {
		font-size: calc(0.7rem + .4vw);

	}

	.date-div {
		top: 0px;
		border-radius: 0 15px 0 15px;
	}
}

@media (max-width: 450px) {
	.enroll {
		width: 100px;
	}

	.date-div {
		padding: 0 1em;
		height: 35px;
	}
}
