.diamond,
.gold,
.silver {
	display: flex;
	grid-area: 1 / 1;
	flex-wrap: wrap;
	gap: 5rem 5rem;
	place-content: center;
	margin-bottom: 15vh;
	justify-content: center;
	transition: opacity 0.7s ease;
}

.team-div {
	display: flex;
	grid-area: 1 / 1;
	flex-wrap: wrap;
	row-gap: 2vh;
	column-gap: 4vw;
	padding-bottom: 5rem;
	justify-content: center;
	transition: opacity 0.7s ease;
}

.diamond .partner {
	width: 300px;
	height: 300px;
}

.gold .partner {
	width: 275px;
	height: 275px;
}

.partner {
	position: relative;
	z-index: 1;
	background-color: white;
	border-radius: 50%;
	width: 250px;
	height: 250px;
	object-fit: contain;
	display: block;
	overflow: hidden;
	border: 8px solid var(--border-color);
	transition: box-shadow 0.3s ease;
}

.modal-content {
	background-color: white;
}

.modal-header {
	position: relative;
	background-blend-mode: color-dodge;
	background-position: center;
	margin: 1rem 0px;
}

.diamond {
	--border-color: var(--main-blue);
}

.gold {
	--border-color: #d4af37;
}

.silver {
	--border-color: #c0c0c0;
}

.partner:hover {
	cursor: pointer;
	transform: scale(1.10);
	box-shadow: 0 0 70px 25px var(--border-color);
}

.sponsor-title {
	font-size: 6vw;
	font-weight: 700;
	text-align: center;
	padding-bottom: 3vh;
}

#sponsor-info .modal-dialog {
	width: 60vw;
	max-width: none;
}

#sponsor-info .modal-body {
	text-align: justify;
	background: var(--dark-blue);
}

.close-modal {
	margin-left: auto;
}

.close-modal path {
	fill: red;
}

@media (max-width: 968px) {
	#sponsor-info .modal-dialog {
		width: 95vw;
	}

}

@media (max-width: 380px) {
	.close-modal .bi-x-lg {
		transform: translate(10px, -20px);
	}
}
