.main-div {
	display: grid;
	justify-items: center;
	align-items: end;
	align-self: center;
	padding-top: 10vh;
	width: auto;
	height: auto;
	text-align: left;
}

.chem-icon {
	position: absolute;

	left: 65vw;
	top: -35vh;

	transform: rotate(15deg);
	transition: top 0.8s cubic-bezier(0.25, 0.25, 0.75, 1),
		left 0.8s cubic-bezier(0.25, 0.25, 0.75, 1);

	height: 125%;
	filter: contrast(140%) brightness(60%);
}

.footer {
	display: flex;
	justify-content: space-around;

}

.main-div button {
	padding: 0;
	background-color: transparent;
	border: none;
	outline: none;
}

.above-poster {
	justify-self: left;
	margin-top: 10px;
	margin-bottom: 5px;
}

.above-poster>* {
	margin: 0;
	padding-left: 5px;
}

/* .poster {
	opacity: 0;
	transform: translateY(20px);
	position: absolute;
	width: 100%;
	background-color: color-mix(in srgb, var(--dark-blue), transparent 35%);
	border-radius: 15px;
	transition: opacity 0.2s ease, transform 0.6s ease;
	pointer-events: none;
}

.poster.active {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}
*/

.poster {
	opacity: 0.05;
	/* 	position: absolute; */
	width: 450px;
	margin: 15px 0px;
	padding-bottom: 10px;
	background-color: color-mix(in srgb, var(--dark-blue), transparent 15%);
	border-radius: 15px;
	transition: opacity 0.6s ease, transform 0.6s linear;
	pointer-events: none;
}

.poster.active {
	opacity: 1;
	pointer-events: auto;
	z-index: 10;
}

.poster .content {
	display: none;
	margin-left: 1rem;
}

.poster.active .content {
	display: block;
}

.poster ul {
	padding-left: 1.5rem;
}

.poster li {
	list-style-type: none;
}

.poster h2 {
	margin-bottom: 0px;
}

.poster h4 {
	padding-left: 1rem;
}

.poster .navigation {
	align-self: center;
	display: none;
	padding-bottom: 1vh;
	grid-template-columns: auto auto auto;
}

.poster.active .navigation {
	display: grid;
}

.date {
	margin-top: 10px;
	margin-bottom: 0px;
	justify-self: center;
	width: fit-content;
}

.back {
	cursor: pointer;
	justify-self: left;
	margin: 5px 0px 0px 10px;
}

.next {
	cursor: pointer;
	justify-self: right;
	margin: 5px 10px 0px 0px;
}

@media (max-width: 900px) {
	.chem-icon {
		transform: rotate(-10deg);
	}

	.poster {
		width: 400px;
	}
}

@media (max-width: 600px) {
	.poster {
		width: 350px;
	}
}
