:root {
	--dark-blue: #000055;
	--light-blue: #5cb5ff;
	--main-blue: #0044AA;
}

button {
	outline: none;
	border: none;
	background: transparent;
}

@font-face {
	font-family: jost;
	src: url("/assets/other/font/Jost-Regular.ttf");
	font-weight: normal;
}

@font-face {
	font-family: jost;
	src: url("/assets/other/font/Jost-Bold.ttf");
	font-weight: bold;
}

* {
	color: white;
	font-family: "jost";
}

html {
	margin: 0;
	min-height: 100%;
}

body {
	background: linear-gradient(148deg, var(--dark-blue), var(--main-blue), var(--light-blue));
	min-width: 100%;
	min-height: 100%;
	padding-top: 10vh;
}

@keyframes rotate-bg-color {
	0% {
		background-position: 50% 0%;
	}

	50% {
		background-position: 50% 50%;
	}

	100% {
		background-position: 70% 70%;
	}
}

.background-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	overflow: hidden;
}

.background-content image {
	width: 100%;
	height: 100%;
}

.container-fluid {
	width: 80%;
	align-self: center;
	justify-self: center;
}

.navbar a {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	text-decoration: none;
}

.best-logo-btn {
	max-height: none;
	position: absolute;
	height: 60%;
	left: 10%;
}

.navbar {
	display: flex;
	z-index: 999;
	box-sizing: border-box;
	color: white;
	background-color: var(--dark-blue);
	width: 100%;
	height: 65px;
	padding: 3rem 0px;
	transition: all .2s;
	position: fixed;
	inset: 0 0 auto 0;
	transition: opacity 0.5s ease-in-out;
}

.nav-pages {
	position: absolute;
	display: flex;
	left: 50%;
	transform: translateX(-50%);
	gap: 5vw;
}

.navbar h5 {
	margin: 0;
	font-size: 16px;
}

.modal-content {
	background-color: var(--main-blue);
	color: white;
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 2vh 0;
}

.socials {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 500px;
	width: 90%;
	margin: 0 auto;
	gap: 20px;
	padding-bottom: 3vh;
}

.footer span {
	margin: auto;
	padding-bottom: 2vh;
}

#phone-menu-btn {
	display: none;
	position: absolute;
	right: 5vw;
}

#phone-menu-btn svg:hover {
	fill: var(--light-blue);
}

.mobile-navbar {
	scroll-behavior: unset;
	display: none;
	background-color: var(--dark-blue);
	width: 100%;
	position: fixed;
	height: 100%;
	z-index: 99;
	text-align: center;
}

.mobile-navbar a {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	text-decoration: none;
	margin: 4.5rem 0;
}

.mobile-navbar h1 {
	font-size: 6vh;
}

@media (max-width: 1180px) {
	.nav-pages {
		display: none;
	}

	#phone-menu-btn {
		display: block;
	}


	.best-logo-btn {
		height: 45%;
	}
}

@media (max-width: 900px) {
	.mobile-navbar a {
		margin: 4rem 0;
	}
}

@media (max-width: 750px) {
	.mobile-navbar a {
		margin: 3rem 0;
	}
}
